* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;

  max-width: 1000px;
}

.text-div {
  margin: 150px 0 50px;
}

.timer {
  font-size: 70px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3e3b40;
  user-select: none;
}

.btns-box {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 480px;
  max-width: 480px;
}

.btn {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
  color: #fff;
  background: #36bc06;
}

.btn:nth-child(2) {
  width: 200px;
  background: #3989ff;
}

.btn:nth-child(3) {
  width: 120px;
  background: #fff;
  color: #ff4a4a;
}

ul {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 618px;
  /* min-width: 390px; */
  max-width: 618px;
  /* max-width: 390px; */
  padding-right: 80px;
}

ul li {
  margin-top: 10px;
  list-style: none;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
  color: #696969;
}

li button {
  background: #ff3945;
  color: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
  transform: translateX(150%);
  padding-bottom: 3px;
}

li .orders {
  font-weight: 800;
  font-size: 15px;
  width: 25px;
  transform: translateY(2px);
}

span.dots {
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
  }

  .timer {
    font-size: 50px;
  }

  .btns-box {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #000; */
  }

  .btn {
    width: 100px;
    height: 40px;
    font-size: 15px;
  }

  .btn:nth-child(2) {
    width: 150px;
  }

  .btn:nth-child(3) {
    width: 100px;
  }

  ul {
    min-width: 300px;
    max-width: 300px;
  }

  ul li {
    height: 30px;
    font-size: 15px;
  }

  li button {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  #logsList {
    margin: 0 auto;
    width: 100%;
  }

  .text-div {
    margin: 100px 0 25px;
  }
}
